<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
  
    <Properties>
        <Property name="LOG_PATTERN">%d{[dd.MM.yyyy] [HH:mm:ss.SSS]} [%p] [%t] [%c] [%05L] - %m%n</Property>
    </Properties>
    
    <Appenders>
        
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <RollingFile name="mainLog" fileName="xbox.log" filePattern="xbox-%d{dd-MM-yyyy}-%i.log.gz" ignoreExceptions="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
        </RollingFile>
    
    </Appenders>

    <Loggers>
        
    <Logger name="com.fx" level="debug" additivity="false">
        <AppenderRef ref="mainLog"/>
        <AppenderRef ref="console"/>
    </Logger>
    
    <Root level="error">
        <AppenderRef ref="mainLog"/>
        <AppenderRef ref="console"/>
    </Root>
    
    </Loggers>
    
</Configuration>
